---
layout: none
title: "Profile | Vahin Pichairaj"
---

<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile | Vahin Pichairaj</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  {% include head_icons.html %}
</head>
<body>

{% include sidebar.html %}
{% include nav.html %}

<main class="main" style="margin-left: 300px;">
  <h1 style="text-align:center; border-bottom:2px solid #444; padding-bottom:0.3em; width:60%; margin: 0 auto 2rem 240px;">Profile</h1>
  <section>
    <p style="margin-bottom: 1.5em;">I’ve always been interested in how technology can be used to help people—especially in the medical field. Whether it’s building devices that support recovery or creating tools that make life easier for those with health challenges, I want to use what I learn to make a real difference.</p>
    <p style="margin-bottom: 1.5em;">I’m still figuring out whether I’ll go to grad school or medical school, but my goal is clear: to work on things that improve lives. I believe the best kind of engineering is the kind that puts people first.</p>
    <p style="margin-bottom: 1.5em;">More often than not, you’ll probably find me on a basketball court. I love the game—it keeps me active, focused, and gives me a place to disconnect and purely enjoy myself.</p>
  </section>
</main>

</body></html> 